#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15% 2px 15%;
  font-family: 'Cabin', sans-serif;
}

#header-nav a {
  color: black;
  text-decoration: none;
  transition: color 0.7s linear;
}

#header-nav a:hover {
  color: #008fb8;

}

#header-logo {
  height: 100px;
}

#header-banner {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}
