body {
  background-color: rgb(242, 255, 253);
}

#post-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  width: 600px;
  margin-bottom: 40px;
}

.post-title {
  font-size: 23px;
  margin-bottom: 1px;
  font-family: 'Droid Serif', serif;
}

.post-details {
  font-size: 13px;
  margin-bottom: 4px;
}

.post-body {
  font-size: 16px;
}
